.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.toolbar {
  height: 35px;
  background-color: #f5f5f5;
}

.toolbar a {
  float: right;
  font-size: 12px;
  margin: 0 7px;
  height: 35px;  
  line-height: 35px;
  padding: 0 6px;
  cursor: pointer;
}

.header {
  padding: 22px 0;
  height: 88px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
  font-weight: bold;
}

.header_logo{
  width: 1920px;
  margin: 0 auto;
  overflow: hidden; 
  display: block;

}

.accountBak {
  margin: 0 auto;
  width: 1920px;
  height: 650px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  background-image: url(/public/res/Bales-under-Saskatchewan-Sky.jpg);
}

.loginbox {
  width: 350px;
  height: 350px;
  border: 1px solid #e8e8e8;
  border-top: 2px solid #f40;
  background-color: #fafafa;
  box-shadow: 0 2px 6px #acacac;
  -webkit-box-shadow: 0 2px 6px #acacac;
  position: absolute;
  top: 100px;
  right: 250px;
  background-color: blue;
}

.loading{
  width: 350px;
  height: 350px;
  padding: 25px 25px 25px;
  color: #6c6c6c;
  background: #fff;
  position: relative;
  margin: 0 auto;
}

.width_vertical{
  margin-bottom: 0;
  width: 100;
}

.login_error{
  
  background-color: #fef2f2;
  margin-top: 1px;
  position: relative;
  margin-bottom: 10px;
  border: 1px solid #ff934c;
  
  margin-bottom: 16px;
  font-size: 14px;
  padding: 5px 8px;
  overflow: hidden;
  position: relative;
  z-index: 1001;
}

.corner_icon_view{
  position: static;
  height: 0;
  width: 100%;
  margin: 0 auto;
}

.login_title_wrapper{
    position: relative;
    height: 44px;
    width: 100%;
    margin: 0 auto;
}

.master_login_title {
  position: static;
  height: 44px;
  width: 100%;
  line-height: 18px;
  font-size: 16px;
  color: #3c3c3c;
  margin: 0 auto;
  margin-top: 9px;
  padding-bottom: 8px;
  font-weight: 700;

}

.qr_login_content{
  margin-top: 50px;
}

.qrcode_login{
  margin: 0;
  padding: 0;
}

.qrcode_img{
  position: relative;
  margin: 20px auto;
  font-size: 14px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px #ddd;
  box-shadow: 0 0 8px #ddd;
  opacity: 1;
  width: 140px;
  height: 140px;
}

.qrcode_desc_icon{
  color: #f40;
  line-height: 36px;
  float: left;
  font-size: 34px;
}

.qrcode_desc{
  width: 160px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
}

.qrcode_desc_text{
  font-size: 12px;
  padding-left: 4px;
  margin: 0;
  box-sizing: border-box;
  display: block;
}

.iconfont{
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 32px;
  line-height: 32px;
  cursor: pointer;
  color: #f40;
  background: linear-gradient(45deg, #fff 50%, #8ebf42 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.iconhalf{
  clip-path: inset(0 0 0 50%);
}

.login_tip{
  top: 5px;
  right: 58px;
  position: absolute;
  display: block;
}

.poptip{
  border: 1px solid #f3d995;
  background: #fefcee;
  line-height: 16px;
  position: relative;
  z-index: 999;
  padding: 5px 10px;
}

.poptip_arrow{
  position: absolute;
  z-index: 10;
  top: 8px;
  right: 0;
  zoom: 1;
}

.poptip_arrow em{
  top: 0;
  left: 1px;
  border-left-color: #ff9000;
  border-width: 6px 0 6px 6px;
  position: absolute;
  *zoom: 1;
  width: 0;
  height: 0;
  border-color: hsla(0,0%,100%,0);
  border-color: transparent \0;
  *border-color: transparent;
  _border-color: tomato;
  _-webkit-filter: chroma(color=tomato);
  _: chroma(color=tomato);
  border-style: solid;
  overflow: hidden;
  top: 0;
  left: 0;
  border-left-color: #ff9000;
  font-style: normal;
  font-weight: 400;
}

.poptip_content{
  color: #ff9000;
  font-size: 12px;
  font-weight: 400;
}

.login_content{
  width: 100%;
  margin: 0 auto;
  padding-top: 2px;
}

.login_switch_tab{
  text-align: left;
  margin-bottom: 20px;
  margin-top: 4px;
  margin: 8px 0;
  zoom: 1;
}

.password_login_tab_item{
  height: 18px;
  line-height: 5px;
  font-size: 16px;
  color: #3c3c3c;
  margin: 9px 10px 0 0;

  font-weight: 700;
  border-bottom: 2px solid #000;
  color: #6c6c6c;
  font-size: 12px;
  display: inline-block;
  margin-left: 0;
  font-size: 14px;
  cursor: pointer;
}

.sms_login_tab_item{
  height: 18px;
  line-height: 5px;
  font-size: 14px;
  color: #3c3c3c;
  margin: 9px 10px 0 0;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
}

.login_form{
  margin: 0;
  padding: 0;
}

.fm_field{
  position: relative;
  margin-bottom: 20px;
  font-size: 14px;
}

.fm_label_icon{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 1px;
  bottom: 1px;
  background-color: #ccc;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.fm_text{
  border-color: #f1eeee;
  width: 100%;
  border: 1px solid #ccc;
  height: 42px;
  outline: none;
  font-size: 14px;
  padding-left: 50px;

}

.fm_btn{
  width: 100%;
}

.fm_submit{
  background: #f40;
  border-color: #f40;
  font-size: 16px;
  border: 1px solid #ff9000;
  border-radius: 3px;
  font-size: 20px;
  height: 42px;
  line-height: 42px;
  outline: none;
  color: #fff;
  width: 100%;
  cursor: pointer;
}

.phone_code_wrapper{
  position: absolute;
  left: 40px;
  bottom: 0px;
  color: rgba(0,0,0);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 48px 8px;
  width: 40px;
}

.phone_code{
  border: none;
  border-right: 1px solid #ccc;
  outline: 0;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  border-bottom: 0;
  padding-right: 14px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.fm_field_mobile{
  border-color: #f1eeee;
  width: 100%;
  border: 1px solid #ccc;
  height: 42px;
  outline: none;
  font-size: 14px;
  padding-left: 100px;
}

.send_btn{
  position: absolute;
  right: 10px;
  bottom: 0;
  line-height: 40px;
  cursor: pointer;
}

.send_btn_link{
  text-decoration: none;
  color: #6c6c6c;
  font-size: 12px;
  
}

.login_links{
  
  margin: 8px 0;
  margin-top: 16px;
  margin-bottom: 0;
  text-align: right;
  zoom: 1;
}

.forgot_pwd{
  color: #6c6c6c;
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
